.container {
  padding: 16px;
}

.container > *:last-child {
  margin-top: 80px;
}

@media (min-width: 650px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 200px;
  }
  .container > *:last-child {
    margin-top: 0px;
  }
}
