.container {
  padding: 16px;
}
.container > *:last-child {
  margin-top: 80px;
}

.intro {
  margin-bottom: 24px;
}

.question {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}
.question > h4 {
  margin-bottom: 16px;
}
.question > div {
  margin-bottom: 4px;
  margin-right: 16px;
  background: #ffffff;
  border: 1px solid gray;
  border-radius: 4px;
  height: 42px;
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  grid-template-columns: min-content 1fr;
  overflow: hidden;
}

.question input {
  grid-column: 1;
  grid-row: 1;
  z-index: 10;
  margin-left: 4px;
}
.question label {
  grid-column: 1 / span 2;
  grid-row: 1;
  padding-left: 24px;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 4px 8px 4px 24px;
}
.question input:checked + label {
  background: #dff1f7;
}

.scoreTable,
.scoreGraphContainer {
  display: flex;
  justify-content: center;
}

.scoreGraph {
  display: grid;
  grid-template-rows: repeat(51, min-content);
  grid-template-columns: repeat(51, min-content);
  margin-top: 40px;
  position: relative;

  --cell-size: 6px;
  --grid-size: calc(var(--cell-size) * 51);
  --half-cell: calc(var(--cell-size) / 2);
}

.score {
  position: absolute;
  background: black;
  height: calc(var(--cell-size));
  width: calc(var(--cell-size));
  border-radius: 50%;

  left: calc(var(--reality-score) * var(--grid-size) - var(--half-cell));
  bottom: calc(var(--morality-score) * var(--grid-size) - var(--half-cell));
}

.cell {
  border: 1px solid #e0e0e0;
  width: var(--cell-size);
  height: var(--cell-size);
}

.moralityLabel,
.realityLabel {
  position: absolute;
  background: red;
  background: linear-gradient(90deg, rgba(14,0,255,1) 0%, rgba(9,9,121,1) 47%, rgba(255,0,0,1) 100%);
  color: white;
  white-space: nowrap;
}

.realityLabel {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.moralityLabel {
  left: -98px;
  top: 50%;
  transform: rotate(-90deg);
}

.quad1,
.quad2,
.quad3,
.quad4 {
  position: absolute;
  width: 50%;
  height: 50%;
  border: 1px solid black;
  opacity: 0.5;
}

.quad1 {
  top: 0;
  right: 0;
  background: red;
}

.quad2 {
  top: 0;
  left: 0;
  background: purple;
}

.quad3 {
  bottom: 0;
  left: 0;
  background: #4646ff;
}

.quad4 {
  bottom: 0;
  right: 0;
  background: purple;
}

.adminPanel {
  display: flex;
  flex-direction: column;
}

.adminPanel > * {
  margin-top: 16px;
}

@media (min-width: 650px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 200px;
  }
  .container > *:last-child {
    margin-top: 0px;
  }

  .quizCompleted {
    /* grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: row;
    align-items: center;
    justify-items: center; */
    display: flex;
    flex-direction: column;
  }

  .quizCompleted .scoreCard {
    display: flex;
    align-items: center;
  }
  .scoreCard {
    position: relative;
  }

  .scoreGraph {
    --cell-size: 12px;
  }

  div:not(.quizCompleted) .scoreCard > div {
    position: sticky;
    right: 0;
    top: 0;
    width: 100%;
  }

  .question {
    display: block;
  }
  .question > div {
    display: inline-grid;
    margin-bottom: 0;
    min-height: unset;
  }
}

.links a {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}